{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} {% block content%}

        <center> 
    <p style="color:white; font-size:30px; font-weight:bold"> What's Happening Around You!
      </p>
    </center>
<div class="row">

  <div class="col-md-9 postcont">

    {% for post in posts %}

    <div class="posts">
      {%if post.image%}
      <img src="{{post.image.url}}" alt="" width="400px" height="400px" />
      {%endif%}
      <br />
        {{post.title}} <br />
        {{post.description}} <br />
        Posted By:{{post.author.name}} <br />
        Location: {{post.location.name}} || {{post.date_created}}<br />
        <center>
        <a class="btn btn-outline-danger" href="{%url 'delete_post' post.id%}">Delete</a>
        </center>
      <br /><br />
    </div>
    <br /><br />
    {%endfor%}
  </div>
</div>
{%endblock%}
