{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} {% block content%}
<h1>faclilities in {{request.user.location}}</h1>
<div class="row">
  <div class="col-md-7">

    {% for post in facilities %}

    {%if post.image%}
    <img src="{{post.image.url}}" alt="" width="200px" height="200px">
    {%endif%}
<br>
    {{post.name}} <br>
    {{post.phone}} <br>
    {{post.email}} <br>

    <br><br>

    {%endfor%}
  </div>

  <div class="col-md-1"></div>
</div>
{%endblock%}
