{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} {% block content%}

        <center> 
    <p style="color:white; font-size:30px; font-weight:bold">Hi {{user.username}}! Welcome to {{user.location}}
      </p>
    </center>
<div class="row">

  <div class="col-md-3 static">

    <div class="card card-body card1">
      <h3>View All Posts</h3>
      <a class="btn btn-primary btn-sm btn-block"  href="{% url 'allposts'%}">view </a>
    </div>

    <br />

    <div class="card card-body card1">
      <h3>Facilities</h3>
      <a class="btn btn-primary btn-sm btn-block" href="{% url 'facilities'%}"
        >view  {{user.location}} facilities</a
      >
    </div>

    <br />

    <div class="card card-body card1">
      <h3>Population</h3>
      <a class="btn btn-primary btn-sm btn-block" href="">
        {{user.location.user_set.count}}</a
      >
    </div>
  </div>

  <div class="col-md-9 postcont">

    {% for post in posts %}

    <div class="posts">
      {%if post.image%}
      <img src="{{post.image.url}}" alt="" width="400px" height="400px" />
      {%endif%}
      <br />
        {{post.title}} <br />
        {{post.description}} <br />
        Posted By:{{post.author.name}} <br />
        Location: {{post.location.name}} || {{post.date_created}}<br />
        <center>
        <a class="btn btn-outline-danger" href="{%url 'delete_post' post.id%}">Delete</a>
      <center>
      <br /><br />
    </div>
    <br /><br />
    {%endfor%}
  </div>
</div>
{%endblock%}
