{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} {% block content%}
<div class="row">
  <div class="col-md-3">
    <div class="card card-body card1">
      <h3>happening</h3>
      <a class="btn btn-primary btn-sm btn-block" href href="">view news</a>
    </div>

    <br />

    <div class="card card-body card1">
      <h3>facilities</h3>
      <a class="btn btn-primary btn-sm btn-block" href="{% url 'facilities'%}"
        >view facilities</a
      >
    </div>

    <br />

    <div class="card card-body card1">
      <h3>location</h3>
      <a class="btn btn-primary btn-sm btn-block" href href="">details</a>
    </div>
  </div>

  <div class="col-md-9 postcont">
    {% for post in posts %} 
      <div class="posts">
    {%if post.image%}
    <img src="{{post.image.url}}" alt="" width="400px" height="400px" />
    {%endif%}
    <br />
    {{post.title}} <br />
    {{post.description}} <br />
    {{post.author.name}} <br />
    {{post.location.name}}

    <br /><br />
  </div>

    {%endfor%}

</div>
</div>
{%endblock%}
