{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} {% block content%}
<div class="row">

  <div class="col-md-3">
    <div class="card card-body">
      <h3>name</h3>
         <a class="btn btn-primary btn-sm btn-block" href="{% url 'facilities'%}"
        >{{user.name}}</a>

    </div>

    <br />

    <div class="card card-body">
      <h3>neighborhood</h3>
      <a class="btn btn-primary btn-sm btn-block" href="{% url 'facilities'%}"
        >{{user.location}}</a>
    
    </div>

    <br />

    <div class="card card-body">
      <h3>about</h3>
    </div>
  </div>

  <div class="col-md-7">

    

    {%if user.image%}
    <img src="{{user.image.url}}" alt="" width="200px" height="200px">
    {%endif%}
    <br><br>
      <a class="btn btn-primary btn-sm btn-block" href="{% url 'update_profile' user.id%}"
        >Update Profile</a>
<br>
    {{user.phone}} <br>
    {{post.email}} <br>


    <br><br>

    
  </div>

  <!-- <div class="col-md-1">
      {%for post in facilities%}
      {{post.name}}
      {%endfor%}
  </div> -->
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
<hr>
        <h1>facilities in {{request.user.location}}</h1>
<hr>
        <div class="row">
  <div class="col-md-7">

    {% for post in facilities %}

    {%if post.image%}
    <img src="{{post.image.url}}" alt="" width="200px" height="200px">
    {%endif%}
<br>
    {{post.name}} <br>
    {{post.phone}} <br>
    {{post.email}} <br>

    <br><br>

    {%endfor%}
  </div>

  <div class="col-md-1"></div>
</div>
    </div>
    <div class="col-md-2"></div>
</div>
{%endblock%}
