{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} {% block content%}
<div class="row">

  <div class="col-md-3">
    <div class="card card-body">
      <h3>name</h3>
         <a class="btn btn-primary btn-sm btn-block" href="{% url 'facilities'%}"
        >{{user.name}}</a>

    </div>

    <br />

    <div class="card card-body">
      <h3>neighborhood</h3>
      <a class="btn btn-primary btn-sm btn-block" href="{% url 'facilities'%}"
        >{{user.location}}</a>
    
    </div>

    <br />

    <div class="card card-body">
      <h3>about</h3>
    </div>
  </div>

  <div class="col-md-7">

    

    {%if user.image%}
    <img src="{{user.image.url}}" alt="" width="200px" height="200px">
    {%endif%}
<br>
    {{post.title}} <br>
    {{post.description}} <br>
    {{post.author.name}} <br>
    {{post.location.name}}

    <br><br>

    
  </div>

  <div class="col-md-1">
      {%for post in facilities%}
      {{post.name}}
      {%endfor%}
  </div>
</div>
{%endblock%}
