{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />

{% endblock %} {% block content%}
<div class="row">
  <div class="col-md-3">
    <div class="card card-body card1">
      <h4>Name</h4>
      <p>{{user.name}}</p>
    </div>

    <br />

    <div class="card card-body card1">
      <h4>Residence</h4>
      <p>{{user.location}}</p>
    </div>

    <br />
    <div class="card card-body card1">
      <h4>Contact</h4>
      <p>Email: {{user.email}}</p>
      <p> Phone: {{user.phone}}  </p>
    </div>

  </div>

  <div class="col-md-7 cold7">
    {%if user.image%}
    <img src="{{user.image.url}}" alt="" width="300px" height="300px" />
    {%endif%}
    <br /><br />
    <a
      class="btn btn-primary btn-sm btn-block"
      href="{% url 'update_profile' user.id%}"
      >Update Profile</a
    >
    <br />
    

    <br /><br />
  </div>


</div>
<hr>
<div class="row">
        <hr />
    <h1>facilities in {{request.user.location}}</h1>
    <hr />
</div>
<hr>

    <div class="row">
      <div class="col-md-10 postcont">
        {% for post in facilities %}
        <div class="posts"> {%if post.image%}
        <img src="{{post.image.url}}" alt="" width="300px" height="300px" />
        {%endif%}
        <br />
        <span class="facilities">
        {{post.name}} <br />
        Contact: {{post.phone}} <br />
        Email: {{post.email}} <br />
       </span>
        <br /><br />
        </div>
        {%endfor%}
      </div>

    </div>
  </div>

{%endblock%}
