body {
  background-color: rgb(213, 201, 201);
}
/* 
.static{
    background-color:red;
    position: relative;
} */

.card1{
    background-color:rgb(124, 143, 188);
    
}

h3{
    text-align: center;
}

.postcont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: red; */
    padding: 5px;
    justify-content: space-around;
}

.posts{
background-color:rgb(124, 143, 188);
border: 2px solid rgb(124, 143, 188);
border-radius: 5px;
}